.container {
    max-width: 700px;
    margin: 50px auto;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
}

.form-check-label {
    padding-left: 0;
}

.btn-register {
    width: 100%;
}
